@{

    Layout = null;
    ViewBag.Title = "Şifre Yenile";
    string passwordConstraints = "Parolanız: <ul class='text-left'><li> 8 - 15 karakter uzunluğunda olmalı.</li><li>En az 1 büyük harf, 1 küçük harf, 1 rakam ve 1 özel karakter içermeli.</li></ul> ";
}

@model HumanIK.UI.Models.NewPasswordViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Template/assets/css/loginPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script defer src="~/bootstrap/js/bootstrap.bundle.js"></script>
    <script defer src="~/Template/assets/js/main.js"></script>
    <title>@ViewBag.Title</title>

</head>

<body>
    <div class="container">
        <div class="bg-image"></div>
        <div class="screen">
            <div class="screen__content">
                <form class="login" method="post" asp-controller="Login" asp-action="ChangeFirstPassword">
                    <h5 class="text-center">@Model?.Email</h5>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <span as></span>
                    <input type="hidden" asp-for="Email" />
                    <div class="login__field password">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" asp-for="@Model.CurrentPassword" id="password" class="login__input" placeholder="Eski şifre" />
                        <i class="eye fa-solid fa-eye-slash" id="passkey" onclick="pass()"></i>
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="login__field password">
                        <i class="login__icon fas fa-lock" data-toggle="tooltip" data-html="true" title="@passwordConstraints"></i>
                        <input type="password" asp-for="@Model.Password" id="password2" class="login__input" placeholder="Şifre" />
                        <i class="eye fa-solid fa-eye-slash" id="passkey2" onclick="pass2()"></i>
                        <span asp-validation-for="Password" class="text-danger" data-toggle="tooltip" data-html="true" data-placement="bottom" title="@passwordConstraints"></span>
                    </div>
                    <div class="login__field password">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" asp-for="@Model.SecondPassword" id="password3" class="login__input" placeholder="Şifre (Tekrar)" />
                        <i class="eye fa-solid fa-eye-slash" id="passkey3" onclick="pass3()"></i>
                        <span asp-validation-for="SecondPassword" class="text-danger"></span>

                    </div>
                    <button class="button login__submit">
                        <span class="button__text">KAYDET</span>
                        <i class="button__icon fas fa-chevron-right"></i>

                    </button>
                </form>

            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
    <script src="~/Template/assets/js/PasswordEye.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                html: true,
                placement: "bottom"
            });
        });
    </script>
</body>


</html>