@*---Employee/Advance---*@
@model AdvanceViewModel
@inject UserManager<AppUser> userManager

@{
    AppUser user = await userManager.GetUserAsync(User);
    ViewData["Title"] = "Avans Talep Et";
}

<div class="d-flex header-sticky">
    <h1 class="d-inline ml-0">Avans Talep Et</h1>   
    <input type="submit" form="form" value="Talep et" class="btn btn-outline-info ml-auto h-50 align-self-center px-5" />
    
</div>
<div class="row col-md-8 col-sm-12 d-flex justify-content-center m-auto p-1">
    <form enctype="multipart/form-data" id="form" class="d-flex flex-column col-5" asp-action="Add" method="post">
        <input type="hidden" asp-for="RemainingAdvance" />
        <input type="hidden" asp-for="CurrencyUnit" />
        <div class="form-group">
            <p class="font-weight-bold font-italic">Bir yıl içinde en fazla 2 <span class="text-decoration-underline" data-toggle="tooltip" data-placement="top" title="@user.Salary @user.SalaryCurrencyUnit">maaş</span> avans alabilirsiniz.</p>
            <p><span class="font-weight-bold">Kalan avans hakkınız:</span> @Model.RemainingAdvance @Model.CurrencyUnit </p>

            <label asp-for="Amount" class="control-label"></label>
            <div class="d-flex align-items-center">
                <input id="amount" asp-for="Amount" class="form-control mr-2" style='text-transform:uppercase' />
                <span>@Model.CurrencyUnit</span>
            </div>
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" rows="3" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        @*<div class="form-group">
            <label asp-for="CreateDate" class="control-label"></label>
            <input asp-for="CreateDate" class="form-control" />
            <span asp-validation-for="CreateDate" class="text-danger"></span>
        </div>*@
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript" src="~/lib/jquery.mask.js"></script>
    <script>
        document.getElementById("amount").addEventListener("keypress", (e) => {
            if (isNaN(e.key)) {
                e.preventDefault();
            }
        })

    </script>
}
